@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #dfb5b5;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
}

.news-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.news-card img {
  margin: 8px;
  border-radius: 10px;
  width: 90%;
  object-fit: contain;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
}

.news-card p {
  font-size: 0.9rem;
  color: #252323;
}

.news-card a {
  display: inline-block;
  margin-top: 10px;
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.loading {
  font-size: 1.2rem;
  color: #a8a8a8;
}
